# Supabase — pegá estos valores en Vercel (Project Settings -> Environment Variables)
NEXT_PUBLIC_SUPABASE_URL=https://iemrjdeefsfwomogbise.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Mzd_bk0RtitS13mpdKYefw_EIgPZWb1
